{% extends "Backend/index.html.twig" %}

{% block body %}

    <h4>Gestion Question</h4>

    <div class="table-responsive">
        <table class="table table-borbered">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Titre</td>
                    <td>Image</td>
                    <td width="100px" class="text-center">
                        <a href="{{ path('question_add') }}" class="btn btn-default glyphicon glyphicon-plus"></a>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for poolQuestion in listQuestion %}
                    <tr>
                        <td>{{ poolQuestion.id }}</td>
                        <td>{{ poolQuestion.title }}</td>
                        <td>{{ poolQuestion.image }}</td>
                        <td>
                            <a href="{{ path('question_edit',{'id':poolQuestion.id}) }}" class="btn glyphicon glyphicon-pencil"></a>
                            <a href="{{ path('question_delete',{'id':poolQuestion.id}) }}" class="btn glyphicon glyphicon-trash"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}