<div id="menu" class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="{{ path('backend') }}"> Menu </a></li>
        <li role="presentation"> <a href="{{ path('pool_video_manage') }}"> Gestion Pool Video </a></li>
        <li role="presentation"> <a href="{{ path('video_manage') }}"> Gestion Video </a></li>
        <li role="presentation"> <a href="#"> </a></li>
        <li role="presentation"> <a href="{{ path('pool_question_manage') }}"> Gestion Pool Question </a></li>
        <li role="presentation"> <a href="{{ path('question_manage') }}"> Gestion Question </a></li>
        <li role="presentation"> <a href="{{ path('response_manage') }}"> Gestion Reponse </a></li>
    </ul>
</div>